[General]
# Address to bind the TCP server to.
bind_address = "0.0.0.0:25597"

# Cache time-to-live.
# Interval in seconds the cache will be purged and fetched again.
# Defaults to 24 hours.
cache_ttl = 86400

# Peer time-to-live.
# Interval that a peer's connection can stay alive without additional requests.
# Defaults to 15 seconds.
peer_ttl = 15

# Maximum rate over the span of 5 seconds.
# Multiple connections on a single IP address are aggregated together.
rate_limit = 100

# Banner message sent to clients upon established.
banner = "Lrthrome | Glub Glub"

# Sources that cache will be populated from.
#
# Additional source types may be added in the future.
[Sources]
# HTTP endpoints to populate from.
#
# Example
# remotes = [
#     "https://raw.githubusercontent.com/Umkus/ip-index/master/dist/blacklisted.netset",
# ]
remotes = [""]


    # MaxMind's GeoLite databases.
    #
    # Missing databases are skipped.
    [Sources.GeoLite]
        # Autonomous system numbers.
        # Each entry is an AS number.
        [Sources.GeoLite.ASN]
        database_path = "GeoLite2-ASN-Blocks-IPv4.csv"

        # Example
        # asns = [
        #     7922,
        # ]
        asns = []


        # City.
        # Each entry is a numeric GeoName (https://www.geonames.org/) ID.
        [Sources.GeoLite.City]
        database_path = "GeoLite2-City-Blocks-IPv4.csv"

        # Example
        # cities = [
        #     4180439,
        #     4684888,
        # ]
        cities = []


        # Country.
        # Each entry is a numeric GeoName (https://www.geonames.org/) ID.
        [Sources.GeoLite.Country]
        database_path = "GeoLite2-Country-Blocks-IPv4.csv"

        # Example
        # countries = [
        #     6252001,
        # ]
        countries = []
