[Unit]
Description=Lrthrome
Documentation=https://github.com/rumblefrog/lrthrome
Wants=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/lrthrome/config.toml

[Service]
ExecStart=/usr/local/bin/lrthrome
KillMode=process
KillSignal=SIGINT
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=on-failure
RestartSec=5
Environment=LRTHROME_CONFIG=/etc/lrthrome/config.toml
Environment=LRTHROME_LOG_LEVEL=info

[Install]
WantedBy=multi-user.target
